<h1 mat-dialog-title>{{'root.errorLabel' | translate}}</h1>
<div mat-dialog-content>
    <p>
        {{errMessageTranslated}}<br><br>
    </p>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{'root.details'|translate}}</mat-panel-title>
      </mat-expansion-panel-header>
      <h4>http code: {{data.status}}</h4>
      {{data.message}}
    </mat-expansion-panel><br/>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="okClicked()" cdkFocusInitial>{{'root.close'|translate}}</button>
</div>