@media all and(max-width:900px){

}
@media all and(min-width:901px){

}
.fouter{
    form{
        margin:1em 0;
    }
    .zoom{
        padding-left:1em;
        display:flex;
        align-items: flex-start;
        flex-direction: row;
        button:first-child  {
            font-size:1em;
        }
        button:nth-child(2) {
            font-size:1.4em;
        }
        button:nth-child(3) {
            font-size: 1.8em;
        }
    }
    box-sizing: border-box;
    display:flex;
    width:100%;
    margin:auto;
    max-width:1212px;
    flex-direction: column;
    padding:2em;
    mat-form-field{
        margin:1em 2em;
        flex-grow:1;
    }
    .frow{
        display:flex;
        flex-direction: row;
        flex-flow: row wrap;
        align-items: flex-start;
        mat-form-field{
            margin:1em 2em;
            flex-grow:1;
        }
    }
    .spreadrow{
        display:flex;
        flex-direction: row;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }
    .bottomBar{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 1.5em;
    }
    .recover{
        margin:3em 0 2em 0;
    }
    .growtwo{
        flex-grow:2 !important;
    }
    .growthree{
        flex-grow:3 !important;
    }
    .growfour{
        flex-grow:4 !important;
    }
}
.msize{
    font-size: 1em !important;
}
.lsize{
    font-size: 1.2em !important;
}
.xlsize{
    font-size: 1.4em !important;
}

.selected{
    background-color:rgba(180,180,180,0.3);
}
.langPicker{
    width:10em !important;
    max-width: 10em !important;
}
mat-progress-spinner{
    z-index:3 !important;
    position:absolute;
    top:calc(50vh - 50px);
    left:calc(50vw - 50px);
}
mat-divider{
    margin:5px 0;
}
.generatedContainer{
    margin:3em 0;
}