<mat-progress-spinner *ngIf="this.eknfService.isLoading | async" [diameter]="100" mode="indeterminate"></mat-progress-spinner>
<div class="fouter" [ngClass]="{ 'msize':sizes[0], 'lsize':sizes[1], 'xlsize':sizes[2] }">
    <div class="spreadrow">
        <div class="zoom">
            <button mat-icon-button [ngClass]="{'selected':sizes[0]}" (click)="setSizes(0)">A</button>
            <button mat-icon-button [ngClass]="{'selected':sizes[1]}" (click)="setSizes(1)">A</button>
            <button mat-icon-button [ngClass]="{'selected':sizes[2]}" (click)="setSizes(2)">A</button>
        </div>
        <mat-form-field class="langPicker">
            <mat-label>{{'root.formLang' | translate}}</mat-label>
            <mat-select #langPicker (selectionChange)="translate.use(langPicker.value)">
                <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang | countryCode }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="inForm" (ngSubmit)="submitClicked(inForm)">
        <div formArrayName="tickets">
            <div class="frow" *ngFor="let tkt of inForm.controls.tickets['controls']; let i = index; let last = last; let first = first">
                <mat-form-field>
                    <span matPrefix>080 &nbsp;</span>
                    <input matInput  [placeholder]="'root.ticketNo' | translate"  [formControlName]="i">
                    <button *ngIf="!(last&&first)" mat-icon-button matSuffix (click)="minusClicked(i)">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <button *ngIf="last" mat-icon-button matSuffix (click)="plusClicked()">
                        <mat-icon>add</mat-icon>
                    </button>
                    <mat-error *ngIf="tkt?.errors?.required" > {{'root.errorReq' | translate}}</mat-error>
                    <mat-error *ngIf="tkt?.errors?.minlength || tkt.errors?.maxlength" >{{'root.ticketLenInfo.0' | translate}}.<br>{{'root.ticketLenInfo.1' | translate}}: {{tkt.value.length}}</mat-error>
                </mat-form-field>              
            </div>
        </div>
        <div class="frow">
            <mat-form-field>
                <input matInput [placeholder]="'root.name'|translate"  formControlName="name">
                <mat-error *ngIf="inForm.controls.name.errors" > {{'root.errorReq' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label >{{'root.country'|translate}}</mat-label>
                <input matInput formControlName="invoLang" formControlName="country">
                <mat-error *ngIf="inForm.controls.country?.errors?.required" > {{'root.errorReq' | translate}}</mat-error>
            </mat-form-field>
        </div>
        <div class="frow">
            <mat-form-field class="growfour">
                <input matInput [placeholder]="'root.city'|translate"  formControlName="city">
                <mat-error *ngIf="inForm.controls.city?.errors?.required" > {{'root.errorReq' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput [placeholder]="'root.zipcode'|translate"  formControlName="zipcode">
                <mat-error *ngIf="inForm.controls.zipcode?.errors?.required" > {{'root.errorReq' | translate}}</mat-error>
            </mat-form-field>
        </div>
        <div class="frow">
            <mat-form-field class="growfour">
                <input matInput [placeholder]="'root.street'|translate"  formControlName="street">
                <mat-error *ngIf="inForm.controls.street?.errors?.required" > {{'root.errorReq' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput [placeholder]="'root.bNumber'|translate"  formControlName="bnumber">
                <mat-error *ngIf="inForm.controls.bnumber?.errors?.required" >{{'root.errorReq' | translate}}</mat-error>
            </mat-form-field>
        </div>
        <div class="frow">
            <mat-form-field class="growfour">
                <input matInput [placeholder]="'root.taxid'|translate"  formControlName="taxid">
                <mat-error *ngIf="inForm.controls.taxid?.errors?.required" > {{'root.errorReq' | translate}}</mat-error>
            </mat-form-field>
     
            <mat-form-field>
                <mat-label>{{'root.invoLang' | translate}}</mat-label>
                <mat-select formControlName="invoLang">
                    <mat-option *ngFor="let lang of invoiceLanguages" [value]="lang.code">
                        {{lang.vVal}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="inForm.controls.invoLang.errors" >{{'root.errorReq' | translate}}</mat-error>
            </mat-form-field>           
        </div>
        <div class="frow">
            <mat-form-field>
                <input matInput [placeholder]="'root.phone'|translate" formControlName="phone">
            </mat-form-field>
            <mat-form-field>
                <input matInput [placeholder]="'root.mail'|translate" formControlName="email">
                <mat-error *ngIf="inForm.controls.email?.errors?.required" > {{'root.errorReq' | translate}}</mat-error>
                <mat-error *ngIf="inForm.controls.email?.errors?.email" >{{'root.errorMail' | translate}}</mat-error>
                
            </mat-form-field>
        </div>
        <div class="bottomBar">
            <button mat-flat-button color="primary" type="submit">{{'root.submit' | translate}}</button>
        </div>
    </form>
    <mat-divider></mat-divider>
    <mat-card *ngIf="generated" class="generatedContainer">
        <mat-card-title>{{'root.linkReminder'|translate}}</mat-card-title>
        <mat-card-content>
            <a href="{{pdfURL}}">{{'root.invoice'|translate}}</a>
        </mat-card-content>

    </mat-card>
    <app-recover *ngIf="recoverable && !generated" class="recover" (clearInvoCache)="confirmCacheDelete()"></app-recover>
</div>
